* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-color: hsl(185, 41%, 84%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body {
  border-radius: 25px;
  padding: 30px;
  display: flex;
}
main {
  background-color: white;
  border-radius: 25px;
  width: 630px;
  height: 360px;
  margin-top: 150px;
}
.left {
  width: 250px;
  padding: 10px;
  margin-right: 30px;
  color: hsl(183, 100%, 15%);
}
input {
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
}
.left p {
  font-weight: 900;
  color: hsl(183, 100%, 15%);
}
.bill input {
  width: 100%;
  height: 30px;
  border-radius: 1px;
  background-color: color-mix(in srgb, hsl(189, 41%, 97%), black 5%);
  cursor: pointer;
}
.bill input::placeholder {
  display: flex;
  justify-content: space-between;
}
.bill p {
  margin-bottom: 8px;
}
.bill {
  margin-bottom: 20px;
}
.buttons button {
  width: 78px;
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  background-color: hsl(183, 100%, 15%);
  font-size: larger;
  font-weight: 900;
}
#cust input {
  background-color: color-mix(in srgb, hsl(185, 41%, 84%), white 70%);
  color: color-mix(in srgb, hsl(186, 14%, 43%), black 35%);
  font-weight: 900;
  width: 78px;
  height: 30px;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}
.tips p {
  margin-bottom: 10px;
}
.people {
  margin-top: 30px;
}
input {
  padding: 3px;
}
.people input {
  margin-top: 10px;
  width: 100%;
  height: 30px;
  border-radius: 1px;
  background-color: color-mix(in srgb, hsl(189, 41%, 97%), black 5%);
  cursor: pointer;
}
.right {
  background-color: hsl(183, 100%, 15%);
  width: 320px;
  height: 250px;
  padding: 20px;
  border-radius: 8px;
}
.right h1 {
  color: hsl(185, 41%, 84%);
  font-size: xx-large;
}
.right button {
  width: 100%;
  height: 30px;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 100px;
  background-color: color-mix(in srgb, hsl(183, 100%, 15%), white 15%);
  color: hsl(183, 100%, 15%);
}
.right button:hover {
  background-color: hsl(185, 41%, 84%);
}
.amount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
.amount p {
  color: white;
  font-size: large;
}
.amount span {
  color: color-mix(in srgb, hsl(183, 100%, 15%), white 35%);
  font-size: small;
  display: flex;
}
.person {
  display: flex;
  justify-content: space-between;
}
.person p {
  color: white;
  font-size: large;
}
.person span {
  color: color-mix(in srgb, hsl(183, 100%, 15%), white 35%);
  font-size: small;
}
.attribution {
  margin-top: 80px;
}
